<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

<!--    Using getter and setter-->
    <bean name="student1" class="com.springCore.Student">
        <property name="studentId" value="9001"/>
        <property name="studentName" value="Harender"/>
        <property name="studentAddress" value="Hodal"/>
    </bean>

<!--    Using constructor-->
    <bean name="student2" class="com.springCore.Student">
        <constructor-arg index="0" value="9003"/>
        <constructor-arg index="1" value="Aakash"/>
        <constructor-arg index="2" value="Bhiwani"/>
    </bean>

<!--    Using p schema-->
    <bean name="student3" class="com.springCore.Student" p:studentId="9007" p:studentName="Kirti"
          p:studentAddress="Sonipat"/>
</beans>